@import "../../styles/utils/variable.scss";
@import "../../styles/utils/mixin.scss";

.carrousel {
    position: relative;
    width: 100%;
    height: 415px;
    margin-top: 50px;

    @include phone {
        height: 255px;
        margin-top: 27px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    &__icon {
        position: absolute;
        width: 46.68px;
        height: 79.2px;
        top: 167.9px;
        opacity: 87%;
        cursor: pointer;

        &__prev {
            left: 23.36px;

            @include phone {
                left: 5.84px;
            }
        }

        &__next {
            right: 23.36px;

            @include phone {
                right: 5.84px;
            }
        }

        &--hidden {
            opacity: 0;
        }

        @include phone {
            width: 11.67px;
            height: 19.8px;
            top: 117.6px;
        }
    }

    &__slideNumbering {
        color: $color-primary;
        font-weight: 500;
        font-size: 18px;
        position: absolute;
        width: 24px;
        height: 32.4px;
        left: 50%;
        right: 50%;
        bottom: 24.92px;

        @include phone {
            display: none;
        }
    }
}